* {
    box-sizing: border-box;
  }

html {
  overflow-y: scroll;
}

  nav {
    text-align: left;
    margin-bottom: 50px;
  }

  .navbar-brand {
    color: white;
  }

  body {
    background-color: lightgrey;
  }

  main {
    background-color: white;
  }

  h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bolder;
    color: seagreen;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
    border-top: 1px solid lightgray;
  }

  img {
    float: left;
    padding: 20px;
    width: 300px;
    height: 350px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
