* {
    box-sizing: border-box;
  }

html {
  overflow-y: scroll;
}

  nav {
    text-align: left;
    margin-bottom: 50px;
  }

  .navbar-brand {
    color: white;
  }

  body {
    background-color: lightgrey;
  }

  main {
    background-color: white;
  }

  h2 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bolder;
    color: rgb(74, 170, 165);
  }

[class*="col-"] {
    float: left;
    padding: 15px;
    border-top: 1px solid lightgray;
  }

  img {
    float: left;
    padding: 20px;
  }

  .profile {
    float: left;
    padding: 20px;
    width: 300px;
    height: 350px;
  }

  .footer {
    background-color: rgb(102, 102, 102);
    text-align: center;
    border-top: 10px solid rgb(74, 170, 165);
    bottom: 0;
    position: fixed;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */

  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
