* {
    box-sizing: border-box;
  }

  .navbar-brand {
    color: white;
  }

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid salmon;
  }

  img {
    float: left;
    padding: 20px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }
